<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title data-lang="title"></title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="ad-container">
        <video class="ad-video" id="ad-video" playsinline></video>
        <div class="click-layer" id="clickLayer">
            <div class="click-tip">
                <span data-lang="click_to_play"></span>
                <span class="highlight" data-lang="rotate_tip"></span>
            </div>
            <div class="rotate-icon"></div>
        </div>
        <div class="guide-layer" id="guideLayer"></div>
    </div>
</body>

<script src="config.js"></script>
<script src="main.js"></script>

</html>