<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Playable Image Ads</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app"></div>
  <div id="modal" class="hidden">
    <div class="modal-content">
      <button id="close-modal">&times;</button>
      <div id="modal-text"></div>
      <div id="modal-imgs"></div>
    </div>
  </div>
  <script src="images.js"></script>
  <script src="config.js"></script>
  <script src="main.js"></script>
</body>

</html>